# Ignora todo (para que solo se controlen los siguientes archivos)
/*

# Controla estos archivos:
!htdocs/
htdocs/*
!htdocs/DAW_proyecto_final/

!var/
var/*
!var/mysql/
var/mysql/*
!var/mysql/project/

!README.md
!.gitignore