@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Mona Sans";
  src: url("../../assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../../assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
text, p, a, span {
  color: black;
}

a {
  width: auto;
  line-height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Mona Sans";
  scroll-behavior: smooth;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  width: 100%;
}

#main_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

button:hover, a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
}

.list_product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);
  gap: 7px;
}
.list_product img {
  border-radius: 15px;
  border: 1px solid black;
  width: 100%;
}
.list_product p {
  margin: 0;
  font-size: 14px;
}
.list_product .product_name, .list_product .price {
  font-weight: bold;
  font-size: 20px;
}
.list_product .producer_name a {
  display: inline-block;
}
.list_product .list_item_cta {
  display: grid;
  grid-template-areas: "btn btn" "del show";
  justify-items: center;
}
.list_product .list_item_cta button {
  grid-area: btn;
  width: 100%;
  padding: 16px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 10px;
  font-size: 16px;
}
.list_product .list_item_cta a {
  text-decoration: none;
  color: #0076d6;
}
.list_product .list_item_cta a:first-of-type {
  grid-area: del;
}
.list_product .list_item_cta a:last-of-type {
  grid-area: show;
}

#access_view {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 30px;
  align-items: flex-end;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#access_view #close_access_view {
  width: 25px;
  cursor: pointer;
}
#access_view #log_form, #access_view #reg_form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#access_view #log_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#access_view #log_form #login_user_type_select {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#access_view #log_form #login_user_type_select .btn_user_type {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40%;
  border: 1px solid black;
  border-radius: 150px;
}
#access_view #log_form #login_user_type_select .btn_user_type:has(input:checked) {
  background-color: #D2E83A;
}
#access_view #log_form #login_user_type_select .btn_user_type input {
  display: none;
}
#access_view #log_form #login_user_type_select .btn_user_type label {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#access_view #log_form #log_mail_wrapper *, #access_view #log_form #log_pwd_wrapper * {
  width: 100%;
}
#access_view #log_form #log_mail_wrapper input, #access_view #log_form #log_pwd_wrapper input {
  background-color: white;
  border: none;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 5px 0 2px 0;
}
#access_view #log_form #log_submit {
  margin: 0;
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 150px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-family: "Mona Sans";
}
#access_view #log_links {
  display: grid;
  grid-template-areas: "pwd_loss mail_loss" "register register";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
#access_view #log_links a {
  display: inline-block;
}
#access_view #log_links a:nth-of-type(1) {
  grid-area: pwd_loss;
}
#access_view #log_links a:nth-of-type(2) {
  grid-area: mail_loss;
}
#access_view #log_links a:nth-of-type(3) {
  grid-area: register;
}

#main_menu {
  z-index: 999;
  position: sticky;
  top: 20px;
  width: calc(100% - 80px);
  grid-area: m_menu;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#main_menu #m_menu_content {
  height: 80px;
  display: flex;
  flex-basis: 1600px;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
#main_menu #m_menu_content #logo_menu {
  margin-left: 40px;
}
#main_menu #m_menu_content #logo_menu img {
  height: 42px;
}
#main_menu #m_menu_content > ul {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_menu #m_menu_content > ul li {
  margin: 5px;
}
#main_menu #m_menu_content a {
  color: black;
}
#main_menu #m_menu_content #main_search {
  border: 1px solid black;
  border-radius: 7px;
  overflow: hidden;
  display: flex;
  max-width: 500px;
  height: 42px;
}
#main_menu #m_menu_content #main_search * {
  border: none;
}
#main_menu #m_menu_content #main_search select {
  text-align: center;
  border-right: 1px solid black;
}
#main_menu #m_menu_content #main_search select, #main_menu #m_menu_content #main_search input[type=submit] {
  background-color: #f7f7f7;
  cursor: pointer;
  padding: 0 10px;
}
#main_menu #m_menu_content #main_search option {
  cursor: pointer;
}
#main_menu #m_menu_content #main_search input[type=submit] {
  border-left: 1px solid black;
}
#main_menu #m_menu_content #user_control {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_menu #m_menu_content #user_control #access_btn {
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  font-family: "Mona Sans";
  font-weight: 600;
  background-color: white;
}
#main_menu #m_menu_content #user_control > * {
  margin: 0;
}
#main_menu #m_menu_content #user_control p {
  color: #45E566;
}
#main_menu #m_menu_content #user_control a {
  display: inline-flex;
  height: 32px;
}
#main_menu #m_menu_content #user_control a img {
  height: 100%;
}
#main_menu #m_menu_content #user_control a .cart_prod_count {
  position: relative;
  display: flex;
  top: 38%;
  left: -48%;
  background-color: red;
  border-radius: 20px;
  height: 15px;
  width: 15px;
}
#main_menu #m_menu_content #user_control a .cart_prod_count p {
  margin: auto;
  font-weight: bold;
  font-size: 12px;
  color: white;
  display: inline-block;
}
#main_menu #m_menu_content #user_control #prof_wrap {
  display: flex;
}
#main_menu #m_menu_content #user_control #prof_wrap .profile_pic {
  height: 38px;
  border-radius: 5px;
  border: 1px solid black;
  z-index: 999;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu {
  border-radius: 10px 0 10px 10px;
  border: 1px solid black;
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  transform: translateX(-50%);
  z-index: 1;
  top: 66px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu .menu_divider {
  width: 100%;
  height: 1px;
  background-color: black;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu::after {
  content: "";
  background-color: white;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: block;
  width: 52px;
  height: 52px;
  position: absolute;
  top: -52px;
  right: -1px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul:first-child {
  margin-top: 15px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul:last-child {
  margin-bottom: 15px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul li {
  text-align: center;
  padding: 0 15px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul li a {
  display: inline-block;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: black;
}
#footer #to_top {
  padding: 20px 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}
#footer #mid_footer {
  padding: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1490px;
  border-bottom: 1px solid white;
}
#footer #mid_footer #footer_logo {
  height: 72px;
}
#footer #mid_footer #footer_links {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#footer #mid_footer #footer_links a, #footer #mid_footer #footer_links p, #footer #mid_footer #footer_links li {
  color: white;
  font-size: 12px;
}
#footer #mid_footer #footer_links .title {
  color: white;
  font-weight: 600;
}
#footer #mid_footer #footer_links li {
  margin-top: 16px;
}
#footer #bottom_footer {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 55px;
}
#footer #bottom_footer p {
  margin: 0;
  color: white;
  font-size: 12px;
}
#footer #bottom_footer .credits {
  display: inline-flex;
}
#footer #bottom_footer .credits * {
  color: inherit;
}

.index_body #main_frame {
  grid-template-columns: auto;
  grid-template-areas: "m_menu" "content" "footer";
}
.index_body #main_frame #landing img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.shop_body #main_frame #content {
  gap: 10px;
}

#shop_header h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 0;
}
#shop_header p {
  margin: 0;
}

#products {
  margin-top: 30px;
}
#products .prod_cat {
  width: 100%;
  margin-bottom: 40px;
}
#products .prod_cat:not(:last-child) {
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
#products .prod_cat .cat_title {
  margin: 0 0 20px 0;
  font-size: 34px;
}

#cat_shop_menu {
  margin-top: 30px;
}
#cat_shop_menu #cat_shop_menu_title {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}
#cat_shop_menu #cat_shop_menu_title::after {
  content: "";
  height: 1px;
  background-color: black;
  width: 100%;
}
#cat_shop_menu #cat_shop_menu_buttons {
  padding: 20px 0 30px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: 1px solid black;
}
#cat_shop_menu #cat_shop_menu_buttons .cat_shop_btn {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 90px;
  font-weight: 700;
  font-size: 1.2em;
  color: white;
  background-position: center center;
  background-size: 100%;
  transition: background-size 0.2s ease-in-out, font-size 0.3s ease-in-out;
}
#cat_shop_menu #cat_shop_menu_buttons .cat_shop_btn:first-of-type {
  background-color: black;
}
#cat_shop_menu #cat_shop_menu_buttons .cat_shop_btn:hover {
  background-size: 102%;
  font-size: 1.3em;
}

.prod_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);
  gap: 7px;
  height: -moz-fit-content;
  height: fit-content;
}
.product .product_img_wrapper {
  position: relative;
  height: 200px;
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;
  transition: border 0.2s ease-in-out;
}
.product .product_img_wrapper > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-in-out;
}
.product .product_img_wrapper .buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  padding: 10px 0;
  right: 10px;
  top: 0;
  bottom: 0;
}
.product p {
  margin: 0;
  display: inline-block;
}
.product .producer_name > a {
  color: #0076d6;
  display: inline;
  text-decoration: none;
}
.product .product_name {
  font-size: 1.2em;
  font-weight: 600;
}
.product .subcat {
  font-size: 1.2em;
}
.product .price {
  font-weight: 600;
}
.product .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.product:hover .product_img_wrapper {
  border: 2px solid black;
}
.product:hover .product_img_wrapper img {
  transform: scale(1.03);
}

.like_btn, .add_cart_btn {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  line-height: 0;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid black;
  transition: background-color 0.2s ease-in-out;
}
.like_btn img, .add_cart_btn img {
  width: 20px;
  margin: 5px;
}

.faved .like_btn {
  background-color: red;
}

#subcat_shop_header h1 {
  font-size: 72px;
  margin: 0 0 20px 0;
}

#subcat_shop_menu_buttons {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

.subcat_button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid black;
  border-radius: 200px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  cursor: pointer;
}
.subcat_button .subcat_img {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 200px;
  overflow: hidden;
}
.subcat_button .subcat_img img {
  width: 100%;
}
.subcat_button .subcat_name {
  margin: 0;
}

.subcat_header {
  display: flex;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 36px;
  border-radius: 15px;
  align-items: center;
  margin-bottom: 40px;
}
.subcat_header .header_subcat_img {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  border-radius: 200px;
  overflow: hidden;
}
.subcat_header .header_subcat_img img {
  width: 100%;
}
.subcat_header .subcat_title {
  margin: 0;
  font-size: 48px;
}
.subcat_header .subcat_descript {
  margin: 0 0 0 60px;
}

.prod_subcat {
  margin-bottom: 60px;
}

.producer_shop_body #main_frame #content {
  gap: 40px;
}
.producer_shop_body #main_frame #content #producer_header {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid black;
}
.producer_shop_body #main_frame #content #producer_header img {
  width: 100%;
}
.producer_shop_body #main_frame #content #producer_nav {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu {
  padding: 14px 10px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_info #prod_prof_img {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 5px;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_info #prod_prof_img img {
  height: 100%;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_info p {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #product_categories {
  display: flex;
  align-items: center;
  gap: 20px;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #product_categories .cat_button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #product_categories .cat_button .cat_img {
  height: 24px;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #product_categories .cat_button .cat_img img {
  width: 24px;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #product_categories .cat_button p {
  margin: 0;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_search {
  width: 200px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  padding: 3px;
  overflow: hidden;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_search #prod_search_box {
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
}
.producer_shop_body #main_frame #content #producer_nav #main_producer_menu #producer_search #prod_search_btn {
  height: 24px;
}
.producer_shop_body #main_frame #content #producer_nav #second_producer_menu {
  padding: 14px 10px;
  display: flex;
  justify-content: center;
}
.producer_shop_body #main_frame #content #producer_shop_products h2 {
  margin-top: 0;
}
.producer_shop_body #main_frame #content #producer_shop_products #featured_products {
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.producer_shop_body #main_frame #content #producer_shop_products #featured_products .products {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}
.producer_shop_body #main_frame #content #producer_shop_products #products .prod_cat {
  width: 100%;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 1px solid black;
}
.producer_shop_body #main_frame #content #producer_shop_products #products .prod_cat .cat_title {
  margin: 0 0 20px 0;
  font-size: 34px;
}
.producer_shop_body #main_frame #content #producer_shop_products #share_btns {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 30px;
}
.producer_shop_body #main_frame #content #producer_shop_products #share_btns a {
  border-radius: 200px;
  border: 1px solid black;
  display: inline-block;
  overflow: hidden;
  line-height: 0px;
}

.cart_body #main_frame {
  grid-template-columns: auto 250px;
  grid-template-areas: "m_menu m_menu" "content resume" "footer footer";
}
.cart_body #main_frame #main_cart {
  display: grid;
  -moz-column-gap: 220px;
       column-gap: 220px;
  padding-bottom: 60px;
  border-bottom: 1px solid black;
  grid-template-areas: "uncheckall ." "prods cta";
  grid-template-columns: auto 330px;
}
.cart_body #main_frame #main_cart #select_all {
  grid-area: uncheckall;
}
.cart_body #main_frame #main_cart #select_all:hover {
  cursor: pointer;
}
.cart_body #main_frame #main_cart #cart_item_wrapper {
  grid-area: prods;
  width: 100%;
}
.cart_body #main_frame #main_cart #cart_item_wrapper #cart_items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
}
.cart_body #main_frame #main_cart #cart_item_wrapper #cart_items .subtotal_text {
  display: flex;
  justify-content: flex-end;
}
.cart_body #main_frame #main_cart #cart_item_wrapper #cart_items .subtotal_text span:last-of-type {
  font-weight: bold;
  margin-left: 5px;
}
.cart_body #main_frame #main_cart #cart_resume {
  grid-area: cta;
}
.cart_body #main_frame #main_cart #cart_resume #cta_box {
  padding: 24px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  width: 330px;
  border: 1px solid black;
  border-radius: 15px;
  margin-bottom: 30px;
}
.cart_body #main_frame #main_cart #cart_resume #cta_box .subtotal_text {
  display: flex;
  justify-content: center;
  margin-bottom: 26px;
}
.cart_body #main_frame #main_cart #cart_resume #cta_box .subtotal_text span:last-of-type {
  font-weight: bold;
  margin-left: 5px;
}
.cart_body #main_frame #main_cart #cart_resume #cta_box button {
  display: grid;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: #D2E83A;
  border: 1px solid black;
  border-radius: 200px;
  grid-template-areas: ".text icon";
}
.cart_body #main_frame #main_cart #cart_resume #cta_box button span {
  grid-area: text;
  align-self: center;
}
.cart_body #main_frame #main_cart #cart_resume #cta_box button img {
  grid-area: icon;
  width: 24px;
}
.cart_body #main_frame #main_cart #cart_resume #related_prods p {
  margin: 0;
}
.cart_body #main_frame #my_prods {
  margin-bottom: 60px;
}
.cart_body #main_frame #my_prods #lists {
  width: 80%;
  margin: auto;
}
.cart_body #main_frame #my_prods #lists .tabs {
  width: 100%;
  display: flex;
  margin-bottom: 50px;
}
.cart_body #main_frame #my_prods #lists .tabs > * {
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid #bbbbbb;
}
.cart_body #main_frame #my_prods #lists .tabs > * p {
  margin: 0 0 10px;
  text-align: center;
  color: #bbbbbb;
}
.cart_body #main_frame #my_prods #lists .selected_cta_tab {
  border-bottom: 2px solid black;
}
.cart_body #main_frame #my_prods #lists .selected_cta_tab p {
  color: black;
  font-weight: 600;
}
.cart_body #main_frame #my_prods #list_prod_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

.cart_card_cta_btn {
  font-size: 0.875em;
  color: #0076d6;
}
.cart_card_cta_btn:hover {
  cursor: pointer;
}

.cart_item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
.cart_item .prod_img_wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cart_item .prod_img_wrapper img {
  border-radius: 15px;
  width: 170px;
  border: 1px solid black;
}
.cart_item .prod_img_wrapper input {
  width: 22px;
  height: 22px;
}
.cart_item .cart_text_wrap {
  display: flex;
  flex-direction: column;
}
.cart_item .cart_text_wrap p {
  margin: 0;
}
.cart_item .cart_text_wrap .name {
  font-weight: 600;
  font-size: 1.25em;
}
.cart_item .cart_text_wrap .producer, .cart_item .cart_text_wrap .stock {
  font-size: 0.875em;
}
.cart_item .cart_text_wrap .producer a {
  display: inline-block;
  text-decoration: none;
  color: #0076d6;
}
.cart_item .cart_text_wrap .stock {
  margin: 20px 0 auto 0;
}
.cart_item .prod_management {
  display: flex;
  align-self: flex-end;
  gap: 30px;
  align-items: center;
}
.cart_item .prod_management .prod_qty_wrapper {
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.cart_item .prod_management .prod_qty_wrapper:hover {
  cursor: pointer;
}
.cart_item .prod_management .prod_qty_wrapper img {
  height: 20px;
  margin-left: 10px;
}
.cart_item .prod_management a {
  color: #0076d6;
  text-decoration: none;
}
.cart_item .price {
  margin-left: auto;
  font-weight: bold;
}

#qty_select_dropdown {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  display: none;
  flex-direction: column;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: white;
}
#qty_select_dropdown span {
  padding: 3px 15px;
}
#qty_select_dropdown span:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.dash_body #dash_page_title {
  width: 100%;
}
.dash_body .dash_info {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  border-top: 1px solid black;
}
.dash_body .dash_info #dash_content {
  width: 100%;
}
.dash_body .dash_info #dash_content > * {
  margin-bottom: 40px;
}
.dash_body .dash_info #dash_content > * > h1 {
  margin-top: 0;
}
.dash_body .dash_info #dash_content #res_prof > :not(:first-child) {
  margin-left: 60px;
}
.dash_body .dash_info #dash_content #res_prof #res_directions {
  display: flex;
  flex-direction: column;
}
.dash_body .dash_info #dash_content #res_hist, .dash_body .dash_info #dash_content #res_lists {
  padding-top: 40px;
  border-top: 1px solid black;
}

#dash_menu {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 30px;
  border: 1px solid black;
  border-radius: 15px;
  flex: 1 0 200px;
}
#dash_menu ul {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
#dash_menu .selected_dash_section {
  background-color: #D2E83A;
}
#dash_menu li:nth-last-child(n+3) {
  height: 35px;
  width: 100%;
  border: 1px solid black;
  border-radius: 150px;
  display: flex;
  position: relative;
}
#dash_menu li:nth-last-child(n+3):hover {
  background-color: #D2E83A;
}
#dash_menu li:nth-last-child(n+3) a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 600;
}

#dash_msg_count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  padding: 2px 5px 0 5px;
  border-radius: 50px;
  position: absolute;
  top: -5px;
  right: -5px;
}

#contact_data {
  display: flex;
  gap: 30px;
}
#contact_data #img_wrapper {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#contact_data #img_wrapper img {
  width: 160px;
}
#contact_data #img_wrapper #img_button {
  cursor: pointer;
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 5px 0 4px 0;
}
#contact_data #img_wrapper #img_button span {
  font-size: 12px;
  color: white;
}
#contact_data #img_wrapper #img_button img {
  width: 14px;
}
#contact_data table {
  flex: 0 1 auto;
}

#directions_wrapper {
  display: flex;
  gap: 20px;
}

#new_dir {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  border: 1px dashed black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#new_dir img {
  width: 20px;
}

.dir_card {
  font-size: 12px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dir_card a {
  color: #0076d6;
  text-decoration: none;
}
.dir_card .direction_card_cta {
  display: flex;
  justify-content: space-evenly;
}
.dir_card p {
  margin: 0;
}
.dir_card span {
  font-weight: 600;
}

.def_loc {
  border: 2px solid #0076d6;
}

#lists_wrapper {
  display: flex;
  gap: 20px;
}

.list_card {
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
}
.list_card .list_card_info .list_img_wrapper {
  height: 196px;
  width: 196px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list_card .list_card_info .list_img_wrapper:has(p) {
  background-color: #f7f7f7;
}
.list_card .list_card_info .list_img_wrapper img {
  width: 100%;
}
.list_card .list_card_info .list_img_wrapper p {
  text-align: center;
  margin: 10px;
}
.list_card .list_card_info p {
  margin: 0;
}
.list_card .list_card_cta {
  display: flex;
}

#list_prods {
  display: flex;
  flex-direction: column;
}

#list_prod_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}

#order_hist_wrapper {
  display: flex;
  flex-direction: column;
}
#order_hist_wrapper .order_card {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
}
#order_hist_wrapper .order_card p {
  margin: 0;
}
#order_hist_wrapper .order_card .order_info {
  background-color: #f7f7f7;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid black;
}
#order_hist_wrapper .order_card .order_info .item_order_info {
  display: flex;
  flex-direction: column;
}
#order_hist_wrapper .order_card .order_info .item_order_info p:not(:first-child) {
  color: #0076d6;
}
#order_hist_wrapper .order_card .order_info .item_order_info:last-child {
  margin-left: auto;
}
#order_hist_wrapper .order_card .order_info .item_order_info:last-child .cta_order_info {
  display: flex;
  justify-content: space-between;
}
#order_hist_wrapper .order_card .order_info .item_order_info:last-child .cta_order_info a {
  color: #0076d6;
}
#order_hist_wrapper .order_card .order_item {
  padding: 20px 80px;
  display: flex;
  gap: 20px;
  width: 100%;
}
#order_hist_wrapper .order_card .order_item:not(:last-of-type) {
  border-bottom: 1px solid black;
}
#order_hist_wrapper .order_card .order_item .prod_img {
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
}
#order_hist_wrapper .order_card .order_item .prod_text {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#order_hist_wrapper .order_card .order_item .prod_cta {
  display: flex;
  gap: 10px;
}
#order_hist_wrapper .order_card .order_item .prod_rate_cta {
  margin-left: auto;
}
#order_hist_wrapper .order_card .order_item .prod_rate_cta button {
  margin-top: 10px;
}

#messages_wrapper {
  display: flex;
  gap: 20px;
  height: 100%;
}

#msgsDivider {
  width: 1px;
  height: 100%;
  background-color: black;
}

#messages_menu {
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 20px;
}

#top_bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
#top_bar p {
  display: inline-block;
  margin: 0;
}
#top_bar #msgs_search {
  width: 160px;
  height: 26px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  padding: 3px;
  overflow: hidden;
}
#top_bar #msgs_search #msgs_search_box {
  margin: 0;
  border: none;
  height: 100%;
  width: 100%;
}
#top_bar #msgs_search #msgs_search_btn {
  height: 24px;
}
#top_bar img {
  height: 20px;
}

.message_card {
  display: flex;
  gap: 10px;
}
.message_card button {
  border: 1px solid black;
  background-color: red;
  margin: 0;
  padding: 2px;
  display: flex;
  border-radius: 5px;
  align-self: center;
}
.message_card button img {
  height: 12px;
  width: 12px;
}
.message_card p {
  margin: 0;
}
.message_card .user_img {
  height: 48px;
  border-radius: 5px;
  border: 1px solid black;
}
.message_card .user_img img {
  height: 100%;
}
.message_card .msg_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  margin-top: 7px;
  overflow: auto;
}
.message_card .msg_info .name {
  font-weight: bold;
}
.message_card .msg_info .last_msg {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.message_card .msg_last_date {
  align-self: flex-start;
  font-size: 12px;
  white-space: nowrap;
  margin-top: 7px;
  flex: 0 0 auto;
  text-align: right;
}

#chat_topbar {
  display: flex;
  justify-content: space-between;
}
#chat_topbar h2 {
  font-size: 2em;
  margin: 0;
  font-weight: 500;
}

#actions {
  font-size: 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#actions a {
  color: #0076d6;
  text-decoration: none;
}

#conversation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat_write {
  display: flex;
  gap: 10px;
  height: 35px;
  widows: 100%;
}
#chat_write #msgBox {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 6px;
}
#chat_write #sendMsg {
  width: 35px;
  height: 100%;
  background-color: #D2E83A;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
#chat_write #sendMsg img {
  height: 22px;
}

#chat_msgs {
  display: flex;
  height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
#chat_msgs .reverseScroll {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.chatDate {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5pxs;
  font-size: 0.75em;
}

.message_item {
  display: flex;
  gap: 15px;
}
.message_item img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.hour {
  font-size: 0.625em;
  margin: 0;
}

.other_user .message {
  background-color: #f7f7f7;
}
.other_user.spaced .message {
  margin-left: 45px;
}

.me {
  flex-direction: row-reverse;
}
.me .message {
  background-color: #0076d6;
}
.me .message p {
  color: #fff;
}
.me.spaced .message {
  margin-right: 45px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  background-color: gray;
  width: 35%;
}
.message p {
  margin: 0;
  font-size: 0.875em;
}

.prod_det_body #product_info {
  display: flex;
  gap: 50px;
  margin-bottom: 60px;
}
.prod_det_body #imgs_viewer {
  flex: 1;
}
.prod_det_body #imgs_viewer #main_image {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}
.prod_det_body #product_desc {
  flex: 1;
}
.prod_det_body #product_desc #text_data p {
  margin: 0;
}
.prod_det_body #product_desc #text_data .producer_name {
  font-size: 0.875em;
  text-decoration: none;
  color: #0076d6;
}
.prod_det_body #product_desc #text_data .product_name {
  font-size: 2em;
  font-weight: 600;
}
.prod_det_body #product_desc #text_data .price {
  display: flex;
  align-items: center;
  gap: 10px;
  height: -moz-min-content;
  height: min-content;
  font-size: 1.25em;
}
.prod_det_body #product_desc #text_data .price span:last-of-type {
  font-weight: 600;
}
.prod_det_body #product_desc #text_data .discount {
  color: red;
}
.prod_det_body #product_desc #text_data .description {
  padding: 30px 0;
  margin: 30px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.prod_det_body #product_desc #text_data .descript_title {
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 24px;
}
.prod_det_body #nut_info {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.prod_det_body #nut_info #nut_info_tabs {
  display: flex;
}
.prod_det_body #nut_info #nut_info_tabs span {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid gray;
  color: gray;
}
.prod_det_body #nut_info #nut_info_tabs span:hover {
  cursor: pointer;
}
.prod_det_body #nut_info #nut_info_tabs .nut_info_tab_active {
  border-bottom: 2px solid black;
  color: black;
}
.prod_det_body #nut_info .nut_info_content table {
  margin: auto;
  border-spacing: 0;
  border-collapse: collapse;
}
.prod_det_body #nut_info .nut_info_content table td, .prod_det_body #nut_info .nut_info_content table th {
  border-bottom: 1px solid black;
  padding: 10px;
}
.prod_det_body #nut_info .nut_info_content table tr td:first-of-type, .prod_det_body #nut_info .nut_info_content table tr th {
  border-right: 1px solid black;
}
.prod_det_body #nut_info .nut_info_content table tr:first-of-type th:last-of-type {
  border-right: none;
}
.prod_det_body #nut_info .nut_info_content table tr:last-of-type td, .prod_det_body #nut_info .nut_info_content table tr:last-of-type th {
  border-bottom: none;
}
.prod_det_body #nut_info .nut_info_content table tr th:first-of-type {
  text-align: start;
}
.prod_det_body #nut_info .nut_info_content table tr th:first-of-type:has(span) {
  font-weight: 500;
}
.prod_det_body #nut_info .nut_info_content table tr th:first-of-type:has(span) span {
  font-weight: 600;
}
.prod_det_body #nut_info .nut_info_content table tr:nth-of-type(3) td, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(3) th, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(5) td, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(5) th {
  border-bottom: none;
  padding-bottom: 2px;
}
.prod_det_body #nut_info .nut_info_content table tr:nth-of-type(4) td, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(4) th, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(6) td, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(6) th {
  padding-top: 0;
}
.prod_det_body #nut_info .nut_info_content table tr:nth-of-type(4) td, .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(6) td {
  padding-left: 20px;
}
.prod_det_body #nut_info .nut_info_content table tr:nth-of-type(4) td:not(:last-of-type), .prod_det_body #nut_info .nut_info_content table tr:nth-of-type(6) td:not(:last-of-type) {
  border-right: 1px solid black;
}
.prod_det_body #prod_cta {
  display: grid;
  grid-template-areas: "label label" "formats formats" "qty_sel cart_add";
  grid-template-rows: auto;
  grid-template-columns: auto 1fr;
  gap: 0 60px;
  margin: 30px 0 60px 0;
}
.prod_det_body #prod_cta label {
  grid-area: label;
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 10px;
}
.prod_det_body #prod_cta fieldset {
  grid-area: formats;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 45px;
  overflow: hidden;
}
.prod_det_body #prod_cta fieldset label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
  height: 100%;
}
.prod_det_body #prod_cta fieldset .format_sel_item {
  flex: 1;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.prod_det_body #prod_cta fieldset .format_sel_item:has(input:checked) {
  background-color: #D2E83A;
}
.prod_det_body #prod_cta fieldset .format_sel_item:not(:last-of-type) {
  border-right: 1px solid black;
}
.prod_det_body #prod_cta fieldset .format_sel_item input {
  display: none;
}
.prod_det_body #prod_cta #prod_qty_selector {
  grid-area: qty_sel;
  display: flex;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
}
.prod_det_body #prod_cta #prod_qty_selector span {
  width: 110px;
  text-align: center;
}
.prod_det_body #prod_cta #prod_qty_selector button {
  width: 45px;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 100%;
  font-size: 1em;
}
.prod_det_body #prod_cta #prod_qty_selector button:first-of-type {
  border-right: 1px solid black;
}
.prod_det_body #prod_cta #prod_qty_selector button:last-of-type {
  border-left: 1px solid black;
}
.prod_det_body #prod_cta #add_btn {
  grid-area: cart_add;
  height: 45px;
  background-color: #D2E83A;
  border-radius: 50px;
  border: 1px solid black;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
.prod_det_body #buyed_together, .prod_det_body #similar_prods, .prod_det_body #ratings, .prod_det_body #alim_safety {
  padding: 20px 0 40px 0;
  border-top: 2px solid black;
}
.prod_det_body #buyed_together h2, .prod_det_body #similar_prods h2, .prod_det_body #ratings h2, .prod_det_body #alim_safety h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 3em;
  font-weight: 600;
}
.prod_det_body #similar_prods {
  display: flex;
  flex-direction: column;
}
.prod_det_body #similar_prods .all_sim_prods {
  display: flex;
  gap: 60px;
}
.prod_det_body #similar_prods .all_sim_prods .sim_prod {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  max-width: 266px;
}
.prod_det_body #similar_prods .all_sim_prods .sim_prod img {
  border: 1px solid black;
  border-radius: 5px;
}
.prod_det_body #similar_prods .all_sim_prods .sim_prod img:hover {
  cursor: pointer;
}
.prod_det_body #similar_prods .all_sim_prods .sim_prod .sim_prod_info p {
  margin: 0;
  font-size: 1.25em;
}
.prod_det_body #similar_prods .all_sim_prods .sim_prod button {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}
.prod_det_body #ratings {
  display: flex;
  flex-direction: column;
}
.prod_det_body #ratings #opinion_wrapper {
  display: flex;
  gap: 50px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu p {
  margin: 0;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats {
  width: -moz-max-content;
  width: max-content;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats .rate_bar {
  width: 170px;
  height: 22px;
  border: 1px solid black;
  border-radius: 5px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats .rate_bar .rate_meter {
  height: 100%;
  border-right: 1px solid black;
  background-color: #D2E83A;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats #prod_opinion_val {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats #prod_opinion_val img {
  width: 80px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats #prod_opinion_val p {
  margin: 0;
  font-size: 1.5em;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats table {
  padding: 25px 0 60px 0;
  border-bottom: 1px solid black;
  border-spacing: 0 15px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats table tr td:nth-of-type(2) {
  padding: 0 20px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_menu #opinion_stats table tr td:last-of-type {
  text-align: end;
}
.prod_det_body #ratings #opinion_wrapper #cta_opinion #cta_opinion_text {
  margin: 30px 0 20px 0;
}
.prod_det_body #ratings #opinion_wrapper #cta_opinion #cta_opinion_text h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;
}
.prod_det_body #ratings #opinion_wrapper #cta_opinion button {
  height: 45px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 50px;
  border: 1px solid black;
  font-weight: 600;
}
.prod_det_body #ratings #opinion_wrapper #opinion_list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.prod_det_body #ratings #opinion_wrapper #opinion_list:has(.no_opinions) {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.prod_opinion {
  display: flex;
  flex-direction: column;
}
.prod_opinion p {
  margin: 0;
}
.prod_opinion .user_info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 1.125em;
}
.prod_opinion .user_info img {
  height: 33px;
  border-radius: 3px;
  border: 1px solid black;
}
.prod_opinion .user_info p {
  height: -moz-fit-content;
  height: fit-content;
}
.prod_opinion .rate {
  margin-bottom: 20px;
}
.prod_opinion .rate .visual_rate {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.prod_opinion .rate .visual_rate img {
  width: 85px;
}
.prod_opinion .rate .visual_rate p {
  font-size: 1.125em;
  font-weight: 700;
}
.prod_opinion .rate > p {
  font-size: 0.875em;
  color: #C0C0C0;
}
.prod_opinion .opinion_body {
  font-size: 1em;
  margin-bottom: 20px;
}
.prod_opinion .util_count {
  margin-bottom: 20px;
  color: #C0C0C0;
}
.prod_opinion .opinion_cta {
  display: flex;
  align-items: center;
  gap: 30px;
}
.prod_opinion .opinion_cta a, .prod_opinion .opinion_cta button {
  font-size: 0.875em;
}
.prod_opinion .opinion_cta a {
  text-decoration: none;
  height: -moz-fit-content;
  height: fit-content;
}
.prod_opinion .opinion_cta button {
  height: 45px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 20px;
  font-weight: 600;
}

.thumbnail_wrapper {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.thumbnail {
  height: 70px;
  width: 70px;
  border-radius: 5px;
  border: 1px solid black;
  transition: border-radius 0.2s ease-in-out;
}
.thumbnail:hover {
  cursor: pointer;
  border-radius: 15px;
}

.selected_thumbnail {
  border-radius: 15px;
}

#img_viewer_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}
#img_viewer_nav .img_nav_btn {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
}
#img_viewer_nav .img_nav_btn img {
  width: inherit;
  padding: 4px;
}
#img_viewer_nav .img_nav_btn:hover {
  cursor: pointer;
}

#main_viewer {
  display: flex;
  position: relative;
}

#img_viewer_nav_left {
  transform: translateX(-16px);
}

#img_viewer_nav_right {
  transform: translateX(16px);
}

.no_opinions {
  font-size: 1.5em;
  color: #c9c9c9;
}/*# sourceMappingURL=styles.css.map */