$c_main: #D2E83A
$c_secondary: #f0ff92
$c_grey_bkg: #f7f7f7
$c_bkg: #ffffff // No usado pero para los modos oscuros hay que usarlo
$c_txt: #000000 // No usado pero para los modos oscuros hay que usarlo
$c_link: #0076d6
$c_fade_txt: #C0C0C0
$web_width: 1200px

$bord_rad_big: 15px
$bord_rad_small: 5px

$main_menu_side_padding: 40px

// Columnas en tienda página ppal.
$prods_cols: 4

// Distancia entre cards de producto
$x_gap: 30px
