// TODO Quitar la barra de scroll y meter un indicador con un after de html, z-index muy alto y position absolute para evitar los desplazamientos de contenido con la barra
    // OJO Igual se puede hacer un styling de la propia barra pero eso creo que no funcionaba en todos los navegadores

// || Fuentes
// Para cuerpo de texto
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')
// Para titulares
@font-face
    font-family: 'Mona Sans'
    src: url('../../assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'), url('../../assets/fonts/Mona-Sans.woff2') format('woff2-variations')
    font-weight: 200 900
    font-stretch: 75% 125%

text, p, a, span
    color: black

a
    width: auto
    display: block
    text-decoration: none
    cursor: pointer

// || General
*
    box-sizing: border-box

html
    font-family: 'Mona Sans'
    scroll-behavior: smooth
    background-color: $c_bkg
    display: flex
    flex-direction: column
    align-items: center

body
    margin: 0
    width: 100%

#main_frame
    display: flex
    flex-direction: column
    align-items: center
    row-gap: 25px
    width: 100%
    height: 100%

// FIX Hacer que se anime bien
// TODO Hacer animación para controlar mejor el cambio
.hidden
    opacity: 0 !important
    height: 0px !important
    transition: all 0.2s ease-in-out !important
    margin: 0 !important

button, a
    &:hover
        cursor: pointer

// || Menus
ul
    list-style: none
    padding: 0
    margin: 0

nav
    a:link,
    a:visited,
    a:hover,
    a:active
        text-decoration: none

#content
    display: flex
    flex-direction: column
    max-width: 1600px
    width: 100%

// || Tiendas

// Tarjeta de producto dentro de lista
.list_product
    display: flex
    flex-direction: column
    flex-basis: calc((100% - $x_gap * ($prods_cols - 1)) / $prods_cols)
    gap: 7px

    img
        cursor: pointer
        border-radius: 15px
        @include std_border
        width: 100%

    p
        margin: 0
        font-size: 14px

    .product_name, .price
        font-weight: bold
        font-size: 20px

    .producer_name
        a
            display: inline-block
            text-decoration: none
            color: $c_link

    .list_item_cta
        display: grid
        grid-template-areas: "btn btn" "del show"
        justify-items: center

        button
            grid-area: btn
            width: 100%
            padding: 16px
            background-color: white
            border-radius: $bord_rad_small
            @include std_border
            margin-bottom: 10px
            font-size: 16px

        a
            text-decoration: none
            color: $c_link

            &:first-of-type
                grid-area: del

            &:last-of-type
                grid-area: show


// Proceso pago
.checkout_btn
    display: grid
    align-items: center
    justify-content: space-around
    width: 290px
    height: 50px
    background-color: $c_main
    border: 1px solid black
    border-radius: 200px
    grid-template-areas: ". text icon"
    cursor: pointer

    span
        grid-area: text
        align-self: center
        text-decoration: none

    img
        grid-area: icon
        width: 24px

#qty_select_dropdown
    @include std_border
    border-radius: $bord_rad_small
    position: absolute
    display: none
    flex-direction: column
    overflow: hidden
    background-color: white
    padding: 5px 0

    span
        padding: 3px 15px

        &:hover
            cursor: pointer
            background-color: lightgrey

    &:focus
        outline: none

.selected_qty
    background-color: $c_secondary