.index_body
    #main_frame
        grid-template-columns: auto
        grid-template-areas: 'm_menu' 'content' 'footer'

        #landing
            img
                width: 100%
                @include std_border
                border-radius: 10px
