@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.out_shadow {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

html {
  box-sizing: border-box;
  background-color: #5d6342;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

#main_frame {
  grid-row-gap: 25px;
  display: grid;
  width: 1200px;
  height: 100%;
  padding: 10px 10px 30px 10px;
}

nav > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
}

text, h1, h2, h3, p, a, span {
  color: black;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
}

a {
  width: auto;
  line-height: auto;
  display: block;
}

#main_menu {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: m_menu;
}
#main_menu img {
  height: 50px;
}
#main_menu > ul {
  display: flex;
  justify-content: space-between;
  border: 3px solid #45E566;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: 15px;
  padding: 3px;
}
#main_menu > ul li {
  margin: 5px;
}
#main_menu a {
  color: #45E566;
}
#main_menu #user_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_menu #user_control > * {
  margin: 0;
}
#main_menu #user_control p {
  color: #45E566;
}
#main_menu #user_control a {
  display: inline-block;
  height: 24px;
}
#main_menu #user_control a img {
  height: 100%;
}
#main_menu #user_control .profile_pic {
  height: 36px;
  -webkit-clip-path: circle(18px at center);
          clip-path: circle(18px at center);
}
#main_menu #user_control #profile_pic_menu {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 15px;
  transform: translateX(calc(-50% + 18px));
}
#main_menu #user_control #profile_pic_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7px;
}
#main_menu #user_control #profile_pic_menu ul li {
  text-align: center;
}
#main_menu #user_control #profile_pic_menu ul li a {
  display: inline-block;
}

#content {
  grid-area: content;
}

#access_view {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#access_view #log_form, #access_view #reg_form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#access_view .log_links {
  display: grid;
  grid-template-areas: "pwd_loss mail_loss" "register register";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
#access_view .log_links a {
  display: inline-block;
}
#access_view .log_links a:nth-of-type(1) {
  grid-area: pwd_loss;
}
#access_view .log_links a:nth-of-type(2) {
  grid-area: mail_loss;
}
#access_view .log_links a:nth-of-type(3) {
  grid-area: register;
}

#footer {
  grid-area: footer;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
}
#footer a, #footer p, #footer li {
  color: #D2E83A;
}
#footer .title {
  color: #45E566;
  font-weight: 600;
}

.index_body #main_frame {
  grid-template-columns: auto;
  grid-template-areas: "m_menu" "content" "footer";
}

.shop_body #main_frame {
  grid-template-columns: 160px auto;
  grid-template-areas: "m_menu m_menu" "s_menu content" "footer footer";
}
.shop_body #side_menu {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  grid-area: s_menu;
}
.shop_body #side_menu nav {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: burlywood;
  border-radius: 15px;
}
.shop_body #side_menu nav a {
  margin: 10px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
.shop_body #side_menu #bkg_sel {
  position: absolute;
  top: 0px;
  background-color: white;
  height: 40px;
  width: 100px;
  border-radius: 15px;
  z-index: 0;
  transition: width 0.2s, top 0.2s;
}
.shop_body #products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.shop_body #products .product {
  padding: 10px;
  display: block;
  width: 200px;
  background-color: white;
  border-radius: 15px;
}
.shop_body #products .product .product_img_wrapper {
  width: 100%;
  display: flex;
}
.shop_body #products .product .product_img_wrapper img {
  width: 100%;
  border-radius: 15px;
}
.shop_body #products .product .buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  padding: 5px 0;
  left: -35px;
}
.shop_body #products .product .buttons .like_btn, .shop_body #products .product .buttons .add_cart_btn {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  line-height: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.shop_body #products .product .buttons .like_btn img, .shop_body #products .product .buttons .add_cart_btn img {
  width: 20px;
  margin: 5px;
}
.shop_body #products .product p {
  margin: 0;
  display: inline-block;
}
.shop_body #products .product .name {
  font-size: 1.1em;
  font-weight: 600;
}
.shop_body #products .product .category {
  padding: 3px 5px;
  background-color: #d6ae62;
  border-radius: 15px;
}

#cart_items {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#cart_items .cart_item {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
#cart_items .cart_item img {
  border-radius: 15px;
  width: 100px;
}
#cart_items .cart_item .cart_text_wrap p {
  margin: 0;
}
#cart_items .cart_item .cart_text_wrap .name {
  font-weight: 600;
  font-size: 1.1em;
}

#cart_resume {
  grid-area: resume;
}

.cart_body #main_frame {
  grid-template-columns: auto 160px;
  grid-template-areas: "m_menu m_menu" "content resume" "footer footer";
  grid-template-rows: 80px auto 100px;
}/*# sourceMappingURL=styles.css.map */