#main_menu {
    background-color: rgb(197, 197, 197);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#main_menu img {
    height: 50px;
}

a {
    width: auto;
    line-height: auto;
    display: block;
}


#side_menu {
    position: absolute;
    height: 500px;
    width: 200px;
    left: 50px;
    top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: burlywood;
    border-radius: 15px;
}

#side_menu a {
    margin: 10px;
}

#bkg_sel {
    position: absolute;
    background-color: white;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}