@import ./base_styles

$trans_time: .2s
$bord_rad: 15px


// || General
a
    width: auto
    line-height: auto
    display: block

#main_menu
    height: 80px
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    grid-area: m_menu

    img
        height: 50px

    &>ul
        display: flex
        justify-content: space-between
        border: 3px solid $c_main
        column-gap: 10px
        border-radius: $bord_rad
        padding: 3px

        li
            margin: 5px

    a
        color: $c_main

    #user_control
        display: flex
        justify-content: space-between
        align-items: center
        width: fit-content
        column-gap: 10px

        &>*
            margin: 0

        p
            color: $c_main

        a
            display: inline-block
            height: 24px

            img
                height: 100%

        .profile_pic
            height: 36px
            clip-path: circle(18px at center)

        #profile_pic_menu
            display: none
            width: fit-content
            height: fit-content
            background-color: white
            position: absolute
            font-size: 0.8em
            padding: 15px
            border-radius: $bord_rad
            transform: translateX(calc(-50% + 18px))

            ul
                display: flex
                flex-direction: column
                justify-content: space-between
                row-gap: 7px

                li
                    text-align: center

                    a
                        display: inline-block

#content
    grid-area: content

#access_view
    background-color: white
    width: fit-content
    border-radius: $bord_rad
    display: flex
    flex-direction: column
    padding: 15px

    // Centrado en el padre (body)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    #log_form, #reg_form
        display: flex
        justify-content: space-between
        flex-direction: column

    .log_links
        display: grid
        grid-template-areas: "pwd_loss mail_loss" "register register"
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        justify-items: center
        align-items: center
        margin-top: 30px

        a
            display: inline-block

            &:nth-of-type(1)
                grid-area: pwd_loss
            &:nth-of-type(2)
                grid-area: mail_loss
            &:nth-of-type(3)
                grid-area: register

#footer
    grid-area: footer
    width: 100%
    height: 100%
    font-family: 'Roboto', sans-serif
    display: flex
    justify-content: space-between
    font-size: 0.8em

    a, p, li
        color: $color2

    .title
        color: $c_main
        font-weight: 600


// || Index
.index_body
    #main_frame
        grid-template-columns: auto
        grid-template-areas: 'm_menu' 'content' 'footer'


// || Shop
.shop_body
    #main_frame
        grid-template-columns: 160px auto
        grid-template-areas: "m_menu m_menu" "s_menu content" "footer footer"

    #side_menu
        width: fit-content
        position: relative
        grid-area: s_menu

        nav
            height: fit-content
            width: fit-content
            padding: 25px
            display: flex
            flex-direction: column
            justify-content: space-between
            background-color: burlywood
            border-radius: $bord_rad

            a
                margin: 10px
                padding: 5px
                width: fit-content
                z-index: 1

        #bkg_sel
            position: absolute
            top: 0px
            background-color: white
            height: 40px
            width: 100px
            border-radius: $bord_rad
            z-index: 0
            transition: width $trans_time, top $trans_time

    #products
        display: flex
        flex-wrap: wrap
        gap: 10px

        .product
            padding: 10px
            display: block
            width: 200px
            background-color: white
            border-radius: $bord_rad

            .product_img_wrapper
                width: 100%
                display: flex

                img
                    width: 100%
                    border-radius: $bord_rad

            .buttons
                position: relative
                display: flex
                flex-direction: column
                height: 200px
                width: fit-content
                justify-content: space-between
                padding: 5px 0
                left: -35px

                .like_btn, .add_cart_btn
                    display: inline-block
                    background-color: white
                    border-radius: 20px
                    line-height: 0
                    width: fit-content

                    img
                        width: 20px
                        margin: 5px

            p
                margin: 0
                display: inline-block

            .name
                font-size: 1.1em
                font-weight: 600

            .category
                padding: 3px 5px
                background-color: #d6ae62 //OJO Se puede hacer que con cada subgategoría se tenga un color identificativo --> Ej.: los embutidos todos rojizos, pero dependiendo del tipo de embutido, un rojo diferente
                border-radius: $bord_rad


// || Cart
#cart_items
    display: flex
    column-gap: 10px

    .cart_item
        display: flex
        column-gap: 10px
        width: fit-content
        background-color: white
        padding: 10px
        border-radius: $bord_rad

        img
            border-radius: $bord_rad
            width: 100px

        .cart_text_wrap
            p
                margin: 0

            .name
                font-weight: 600
                font-size: 1.1em

#cart_resume
    grid-area: resume

.cart_body
    #main_frame
        grid-template-columns: auto 160px
        grid-template-areas: "m_menu m_menu" "content resume" "footer footer"
        grid-template-rows: 80px auto 100px
