@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1, h2, h3 {
  font-family: "Montserrat", sans-serif;
}

text, p, a, span {
  color: black;
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  width: auto;
  line-height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
  width: 100%;
}

#main_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a:link,
nav a:visited,
nav a:hover,
nav a:active {
  text-decoration: none;
}

#access_view {
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#access_view #close_access_view {
  width: 30px;
}
#access_view #log_form, #access_view #reg_form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#access_view #log_form ul {
  list-style: none;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
#access_view #log_form ul li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
#access_view .log_links {
  display: grid;
  grid-template-areas: "pwd_loss mail_loss" "register register";
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 30px;
}
#access_view .log_links a {
  display: inline-block;
}
#access_view .log_links a:nth-of-type(1) {
  grid-area: pwd_loss;
}
#access_view .log_links a:nth-of-type(2) {
  grid-area: mail_loss;
}
#access_view .log_links a:nth-of-type(3) {
  grid-area: register;
}

#content {
  max-width: 1600px;
  margin: 0 40px;
}

#main_menu {
  width: 100%;
  grid-area: m_menu;
  border-bottom: 2px solid black;
  background-color: white;
  display: flex;
  justify-content: center;
}
#main_menu #m_menu_content {
  height: 65px;
  display: flex;
  flex-basis: 1600px;
  justify-content: space-between;
  align-items: center;
}
#main_menu #m_menu_content #logo_menu {
  margin-left: 40px;
}
#main_menu #m_menu_content #logo_menu img {
  height: 32px;
}
#main_menu #m_menu_content > ul {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_menu #m_menu_content > ul li {
  margin: 5px;
}
#main_menu #m_menu_content a {
  color: black;
}
#main_menu #m_menu_content #user_control {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#main_menu #m_menu_content #user_control > * {
  margin: 0;
}
#main_menu #m_menu_content #user_control p {
  color: #45E566;
}
#main_menu #m_menu_content #user_control a {
  display: inline-block;
  height: 24px;
}
#main_menu #m_menu_content #user_control a img {
  height: 100%;
}
#main_menu #m_menu_content #user_control #prof_wrap {
  display: flex;
}
#main_menu #m_menu_content #user_control #prof_wrap .profile_pic {
  height: 32px;
  border-radius: 5px;
  border: 1px solid black;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  position: absolute;
  font-size: 0.8em;
  padding: 15px;
  border-radius: 15px;
  transform: translateX(calc(-50% + 18px));
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 7px;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul li {
  text-align: center;
}
#main_menu #m_menu_content #user_control #prof_wrap #profile_pic_menu ul li a {
  display: inline-block;
}

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  background-color: black;
}
#footer #to_top {
  padding: 20px 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  color: white;
  border-bottom: 1px solid white;
}
#footer #mid_footer {
  padding: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1490px;
  border-bottom: 1px solid white;
}
#footer #mid_footer #footer_logo {
  height: 72px;
}
#footer #mid_footer #footer_links {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
#footer #mid_footer #footer_links a, #footer #mid_footer #footer_links p, #footer #mid_footer #footer_links li {
  color: white;
}
#footer #mid_footer #footer_links .title {
  color: white;
  font-weight: 600;
}
#footer #mid_footer #footer_links li {
  margin-top: 16px;
}
#footer #bottom_footer {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 55px;
}
#footer #bottom_footer p {
  margin: 0;
  color: white;
}
#footer #bottom_footer .credits {
  display: inline-flex;
}
#footer #bottom_footer .credits * {
  color: inherit;
}

.index_body #main_frame {
  grid-template-columns: auto;
  grid-template-areas: "m_menu" "content" "footer";
}
.index_body #main_frame #landing img {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.shop_body #main_frame #content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop_body #main_frame #content #cat_shop_menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.shop_body #main_frame #content #cat_shop_menu a {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  line-height: 90px;
  font-weight: 700;
  font-size: 1.2em;
  color: white;
  background-position: center center;
  background-size: cover;
}
.shop_body #main_frame #content #cat_shop_menu a:first-of-type {
  background-color: black;
}
.shop_body #main_frame #content #products {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
}
.shop_body #main_frame #content #products .product {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 90px) / 4);
}
.shop_body #main_frame #content #products .product .product_img_wrapper {
  height: 245px;
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
}
.shop_body #main_frame #content #products .product .product_img_wrapper img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop_body #main_frame #content #products .product .product_img_wrapper .buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: space-between;
  padding: 5px 0;
  left: -35px;
}
.shop_body #main_frame #content #products .product .product_img_wrapper .buttons .like_btn, .shop_body #main_frame #content #products .product .product_img_wrapper .buttons .add_cart_btn {
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  line-height: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.shop_body #main_frame #content #products .product .product_img_wrapper .buttons .like_btn img, .shop_body #main_frame #content #products .product .product_img_wrapper .buttons .add_cart_btn img {
  width: 20px;
  margin: 5px;
}
.shop_body #main_frame #content #products .product p {
  margin: 0;
  display: inline-block;
}
.shop_body #main_frame #content #products .product .name {
  font-size: 1.1em;
  font-weight: 600;
}
.shop_body #main_frame #content #products .product .category {
  padding: 3px 5px;
  background-color: #d6ae62;
  border-radius: 15px;
}

.cart_body #main_frame {
  grid-template-columns: auto 250px;
  grid-template-areas: "m_menu m_menu" "content resume" "footer footer";
}
.cart_body #main_frame #content {
  display: flex;
  gap: 0 10px;
}
.cart_body #main_frame #content #cart_item_wrapper {
  width: 100%;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items {
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: white;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item {
  display: flex;
  -moz-columns: 1fr 1fr 1fr;
       columns: 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item .prod_img_wrapper img {
  border-radius: 15px;
  width: 100px;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item .cart_text_wrap {
  display: flex;
  flex-direction: column;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item .cart_text_wrap p {
  margin: 0;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item .cart_text_wrap .name {
  font-weight: 600;
  font-size: 1.1em;
}
.cart_body #main_frame #content #cart_item_wrapper #cart_items .cart_item .prod_management {
  display: flex;
}
.cart_body #main_frame #content #cart_resume {
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
}/*# sourceMappingURL=styles.css.map */