@import ./base_styles

$trans_time: .2s

// TODO Quitar la barra de scroll y meter un indicador con un after de html, z-index muy alto y position absolute para evitar los desplazamientos de contenido con la barra
    // OJO Igual se puede hacer un styling de la propia barra pero eso creo que no funcionaba en todos los navegadores
// || General
#access_view
    background-color: white
    width: fit-content
    border-radius: $bord_rad
    display: flex
    flex-direction: column
    padding: 15px
    align-items: flex-end

    // Centrado en el padre (body)
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    #close_access_view
        width: 30px

    #log_form, #reg_form
        display: flex
        justify-content: space-between
        flex-direction: column

    #log_form
        ul
            list-style: none
            display: flex
            width: 80%
            justify-content: space-between

            li
                width: fit-content
                margin: 0

    .log_links
        display: grid
        grid-template-areas: "pwd_loss mail_loss" "register register"
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: repeat(2, 1fr)
        justify-items: center
        align-items: center
        margin-top: 30px

        a
            display: inline-block

            &:nth-of-type(1)
                grid-area: pwd_loss
            &:nth-of-type(2)
                grid-area: mail_loss
            &:nth-of-type(3)
                grid-area: register


#content
    max-width: 1600px
    margin: 0 40px


// || Main menu
$main_menu_side_padding: 40px
#main_menu
    width: 100%
    grid-area: m_menu
    border-bottom: 2px solid black
    background-color: white
    display: flex
    justify-content: center

    #m_menu_content
        height: 65px
        display: flex
        flex-basis: 1600px
        justify-content: space-between
        align-items: center

        #logo_menu
            margin-left: $main_menu_side_padding
            img
                height: 32px

        &>ul
            font-size: 12px
            display: flex
            justify-content: space-between
            column-gap: 10px

            li
                margin: 5px

        a
            color: black

        #user_control
            margin-right: $main_menu_side_padding
            display: flex
            justify-content: space-between
            align-items: center
            width: fit-content
            column-gap: 10px

            &>*
                margin: 0

            p
                color: $c_main

            a
                display: inline-block
                height: 24px

                img
                    height: 100%

            #prof_wrap
                display: flex

                .profile_pic
                    height: 32px
                    border-radius: 5px
                    border: 1px solid black

                #profile_pic_menu
                    display: none
                    width: fit-content
                    height: fit-content
                    background-color: white
                    position: absolute
                    font-size: 0.8em
                    padding: 15px
                    border-radius: $bord_rad
                    transform: translateX(calc(-50% + 18px))

                    ul
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        row-gap: 7px

                        li
                            text-align: center

                            a
                                display: inline-block


// || Footer
#footer
    grid-area: footer
    display: flex
    flex-direction: column
    width: 100%
    font-family: 'Roboto', sans-serif
    display: flex
    justify-content: space-between
    align-items: center
    font-size: 16px
    color: white
    background-color: black

    #to_top
        padding: 20px 0
        width: 100%
        height: fit-content
        text-align: center
        color: white
        border-bottom: 1px solid white

    #mid_footer
        padding: 55px
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        max-width: calc(1600px - 2 * 55px)
        border-bottom: 1px solid white

        #footer_logo
            height: 72px

        #footer_links
            display: flex
            justify-content: space-between
            column-gap: 40px

            a, p, li
                color: white

            .title
                color: white
                font-weight: 600

            li
                margin-top: 16px

    #bottom_footer
        max-width: 1600px
        width: 100%
        display: flex
        justify-content: space-between
        padding: 20px 55px

        p
            margin: 0
            color: white

        .credits
            display: inline-flex
            & *
                color: inherit


// || Index
.index_body
    #main_frame
        grid-template-columns: auto
        grid-template-areas: 'm_menu' 'content' 'footer'

        #landing
            img
                width: 100%
                border: 1px solid black
                border-radius: 10px


// || Shop
$prods_cols: 4
.shop_body
    #main_frame

        #content
            display: flex
            flex-direction: column
            gap: 10px

            #cat_shop_menu
                width: 100%
                height: fit-content
                display: flex
                justify-content: space-between
                gap: 20px

                a
                    width: 100%
                    text-align: center
                    border: 1px solid black
                    border-radius: 10px
                    line-height: 90px
                    font-weight: 700
                    font-size: 1.2em
                    color: white
                    background-position: center center
                    background-size: cover

                    &:first-of-type
                        background-color: black

            #products
                $x_gap: 30px
                display: flex
                flex-wrap: wrap
                gap: 60px $x_gap

                .product
                    $img_ratio: 1.5
                    cursor: pointer
                    display: flex
                    flex-direction: column
                    flex-basis: calc((100% - $x_gap * ($prods_cols - 1)) / $prods_cols)

                    .product_img_wrapper
                        // height: calc(((100% - $x_gap * ($prods_cols - 1)) / $prods_cols) * $img_ratio)
                        height: 245px
                        display: flex
                        border-radius: 10px
                        border: 1px solid black

                        img
                            width: 100%
                            object-fit: cover

                        // FIX Creo que el problema de que se vaya todo a la puta es del posicionamiento de los buttons, que son RELATIVE
                        .buttons
                            position: relative
                            display: flex
                            flex-direction: column
                            width: fit-content
                            justify-content: space-between
                            padding: 5px 0
                            left: -35px

                            .like_btn, .add_cart_btn
                                display: inline-block
                                background-color: white
                                border-radius: 20px
                                line-height: 0
                                width: fit-content

                                img
                                    width: 20px
                                    margin: 5px

                    p
                        margin: 0
                        display: inline-block

                    .name
                        font-size: 1.1em
                        font-weight: 600

                    .category
                        padding: 3px 5px
                        background-color: #d6ae62 //OJO Se puede hacer que con cada subgategoría se tenga un color identificativo --> Ej.: los embutidos todos rojizos, pero dependiendo del tipo de embutido, un rojo diferente
                        border-radius: $bord_rad


// || Cart
.cart_body
    #main_frame
        grid-template-columns: auto 250px
        grid-template-areas: "m_menu m_menu" "content resume" "footer footer"

        #content
            display: flex
            gap: 0 10px

            #cart_item_wrapper
                width: 100%

                #cart_items
                    padding: 10px
                    display: flex
                    flex-direction: column
                    row-gap: 10px
                    background-color: white

                    .cart_item
                        display: flex
                        columns: 1fr 1fr 1fr
                        column-gap: 10px
                        width: 100%

                        .prod_img_wrapper
                            img
                                border-radius: $bord_rad
                                width: 100px

                            input

                        .cart_text_wrap
                            display: flex
                            flex-direction: column

                            p
                                margin: 0

                            .name
                                font-weight: 600
                                font-size: 1.1em

                        .prod_management
                            display: flex

            #cart_resume
                padding: 10px
                height: fit-content
                background-color: white
